* {
    margin: 0px;
    padding: 0px;
}
/*Defini uma formatação pra fazer que o corpo ocupasse 100% da tela*/
body, html {
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    padding: 1em;
}

/*defini formatações padrões para todas as caixas, fazendo assim elas o container pai=relative*/
.caixa-um, .caixa-dois, .caixa-tres, .caixa-quatro {
    position: relative;
    height: 100%;
    /*coloquei a imagem de forma que o scrow do mouse fique fixo e dê para fzer o efeito parallax*/
    background-attachment: fixed;
    /*deixar posicionado no centro*/
    background-position: center;
    opacity: 0.8;
    background-repeat: no-repeat;
    /*deixar a img completa nos espaços vazios*/
    background-size: cover;
    
}
/*pra imagem ficar full resolução pus o size em 100%*/
.caixa-um {
    background-image: url('img/rjj.jpg');
    background-size: 100%;
}
.caixa-dois {
    background-image: url('img/tokio.jpg');
    background-size: 100%;
}
.caixa-tres {
    background-image: url('img/Rússia.jpg') ;
    background-size: 100%;
}
.caixa-quatro {
    background-image: url('img/alemanha.jpg') ;
    background-size: 100%;
}
.conteudo-entre-img {
    padding: 10px;
    color: #111;
}
.conteudo-entre-img h2 {
    text-align: center;
    padding: 10px;
}

/*Formatação de texto*/
.titulo{
    position: absolute;
    left: 0%;
    top: 45%;
    width: 100%;
   text-align: center;
}
.titulo span.titulo-span {
    padding: 18px;
    background-color: #111;
    letter-spacing: 5px;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}
